<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Subtask</title>
</head>
<body>
<h1>Create a Subtask for '<span th:text="${parentTask.title}"></span>'</h1>

<form method="post" th:action="@{'/tasks/' + ${parentTask.id} + '/sub/create'}" th:object="${subTask}" >
    <p th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="title">Title: </label>
        <input type="text" th:field="*{title}" id="title">
        <p th:errors="*{title}"></p>
    </div>
    <div>
        <label for="description">Description: </label>
        <textarea type="text" th:field="*{description}" id="description" rows="3"></textarea>
    </div>
    <input type="submit" value="Add Subtask">
</form>
</body>
</html>