<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>
    <h1>Task Detail</h1>

    <div th:if="${error != null}">
        <h3>ERROR: Task not found.</h3>
    </div>

    <div th:unless="${error != null}">
        <table>
            <tr>
                <td><h3>Title:</h3></td>
                <td th:text="${task.title}"></td>
            </tr>
            <tr>
                <td><h3>Description:</h3></td>
                <td th:text="${task.description}"></td>
            </tr>
            <tr>
                <td><h3>Due Date:</h3></td>
                <td th:text="${task.date}"></td>
            </tr>
            <tr>
                <td><h3>Subtasks:</h3></td>
                <td th:if="${task.subTasks.isEmpty()}">This task has no subtasks.</td>
                <td th:unless="${task.subTasks.isEmpty()}">
                    <ul>
                        <li th:each="subTask : ${task.subTasks}">
                            <h4 th:text="${subTask.title}"></h4>
                            <p th:text="${subTask.description}"></p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <button><a th:href="@{'/tasks/edit/' + ${task.id}}">Edit</a></button>
    <button><a th:href="@{'/tasks/' + ${task.id} + '/sub/create'}">Add Subtask</a></button>
</body>
</html>